/*
Metabox
*/
#tabs-panel-mitypes-item-type-custom-all {
  max-height: 270px; }

/*
Menu edit
*/
#menu-to-edit .menu-item .item-title {
  padding-left: 2em;
  margin-left: -0.6em; }

#menu-to-edit .menu-item .item-title:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  margin-left: -2em;
  background-color: #fafafa;
  vertical-align: middle; }

/*
Item types > icons
#23282d
*/
#menu-to-edit .mitypes-item-type .item-title:before {
  background: url(../img/icons/custom.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__post_type .item-title:before {
  background: url(../img/icons/post_type.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__taxonomy .item-title:before {
  background: url(../img/icons/taxonomy.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__post_type_archive .item-title:before {
  background: url(../img/icons/post_type_archive.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__custom .item-title:before {
  background: url(../img/icons/custom.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__nolink .item-title:before {
  background: url(../img/icons/mitypes-nolink.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__image .item-title:before {
  background: url(../img/icons/mitypes-image.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__heading .item-title:before {
  background: url(../img/icons/mitypes-heading.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__paragraph .item-title:before {
  background: url(../img/icons/mitypes-paragraph.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__content .item-title:before {
  background: url(../img/icons/mitypes-content.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__shortcode .item-title:before {
  background: url(../img/icons/mitypes-shortcode.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__search .item-title:before {
  background: url(../img/icons/mitypes-search.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__dynamic .item-title:before {
  background: url(../img/icons/mitypes-dynamic.svg) center center/20px 20px no-repeat transparent; }

#menu-to-edit .mitypes-item__menu .item-title:before {
  background: url(../img/icons/mitypes-menu.svg) center center/20px 20px no-repeat transparent; }
